.section {
	position: relative;
}
.section-background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.section-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.section-decor {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.section-foreground {
	position: relative;
}